@charset "UTF-8";

#participantList{
	height:300px;
	overflow-y:auto;
}

#participantListElement{
	display: flex;
	flex:auto;
}

.subtitle{
	width: 50%;
}

.box{
	border: 2px black solid;
	border-radius: 15px;
}

.outline{
	width:90%;
	padding:10px;
	display:inline-block;
}

.inner{
	width: 45%;
	display: block;
	padding : 10px;
	float:left;
	margin:5px;
}

.quiz{
	width: 90%;
	display: block;
	padding : 10px;
	margin : 5px;
	float: none;
}

.subtitle{
	font-size:2em;
	font-weight:bold;
}

.controlBtn{
	margin:5px;
}
.inline-block{
	display:inline-block;
}

.left{
	float:left;
}

.toggleSwitch {
	width: 50px;
	height: 25px;
	display: block;
	position: relative;
	border-radius: 30px;
	background-color: #fff;
	box-shadow: 0 0 3px 2px rgba(0 0 0 / 10%);
	cursor: pointer;
	margin: 5px;
  }
  
  .toggleSwitch .toggleButton {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 4px;
	transform: translateY(-50%);
	border-radius: 50%;
	background: #edf03d;
  }
  
  #toggle:checked ~ .toggleSwitch {
	background: #edf03d;
  }
  
  #toggle:checked ~ .toggleSwitch .toggleButton {
	left: calc(100% - 24px);
	background: #fff;
  }
  
  .toggleSwitch, .toggleButton {
	transition: all 0.2s ease-in;
  }