.box{
    padding:5px;
    border-radius: 15px;
}
.text-center{
    text-align: center;
}

.innerBox{
    width:70%;
    margin:2% auto;
    padding:5px;
    max-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
}

.table-element{
    border:2px solid rgb(70, 71, 18);
    width:30%;
    text-align: center;
    margin:1%;
    aspect-ratio: 16/9;
    position:relative;
}

.scroll{
    overflow-y:scroll;
    scrollbar-width: none;
    scroll-behavior:smooth;
}

.scroll::-webkit-scrollbar {
	display:none /* Chrome , Safari , Opera */
}

.answer{
    margin-top: 10%;
    font-size: 1.5em;
    font-weight: bold;
}


#participantBox{
    display: flex;
    flex:auto;
    aspect-ratio: 16/7;
}

#participantTable{
    margin:1%;
    width: 80%;
    display:flex;
    flex:auto;
    flex-wrap:wrap;
    align-items: start;
    align-content: flex-start;
    background-color: beige;
    justify-content: center;
    aspect-ratio: 16/9;
}

#participantList{
    margin:1%;
    width:20%;
    background-color: beige;
    height: 100%;
    display:flex;
    flex-direction: column;
    flex:auto;
}

#QnABox{
    margin:1% auto;
    width:97%;
    height: 200px;
    background-color: beige;
    display: flex;
    align-content: center;
    flex-direction: column;
}

#answerBox{
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}

#listElementBox{
    height: 100%;
}

#questionBox{
    display: flex;
    justify-content: center;
    position: relative;
}

#difficulty{
    position:absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    background-color: rgb(164, 166, 82);
    color:white;
    font-weight: bold;
    font-size: 1.17em;
    text-align: center;
    position:absolute;
    top:50%;
    margin-top:-25px;
    left:4%;
}

#tableTitle{
    font-weight: bold;
}

.imgX{
    position: absolute;
    background-image: url(/static/img/x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 38%;
    aspect-ratio: 1 / 1;
    left: 50%;
    margin-left: -19%;
    margin-top: 8%;
    visibility: hidden;
}

.dropout{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #77777766;
    left: 0;
    top: 0;
    border-radius: 15px;
    visibility: hidden;
}